@import '../scss/variables';

.d-calendar-day {
  padding: 0;
  width: 100%;
  height: 100%;
  display: table-cell; // If class is used on non-TD element, force table-cell
  border: 1px solid #e4e4e4;
  width: $d-day-box-size;
  height: $d-day-box-size;
  box-sizing: border-box;
  .selected {
    background: rgba(150, 150, 150, 0.5);
    color: #fff;
  }
  .d-day-selected {
    background: rgba(100, 100, 100, 0.2);
    color: #fff;
  }
  .d-day-highlighted {
    background: rgba(100, 100, 100, 0.5);
    color: #fff;
  }
  button {
    display: block;
    width: $d-day-box-size - 1;
    height: $d-day-box-size - 1;
    font-size: 1em;
    border: 0;
    background: transparent;
    &[disabled]{
      color: #dedede;
    }
    &:not([disabled]):hover {
      background: #efefef;
    }
  }
}
