<div className={calendarMonthClasses} data-visible={isVisible}>
  <table>
    <caption className="CalendarMonth__caption js-CalendarMonth__caption">
      <strong>{monthTitle}</strong>
    </caption>

    <tbody className="js-CalendarMonth__grid">
      {weeks.map((week, i) => (
        <tr key={i}>
          {week.map((day, dayOfWeek) => (
            <d-day
              day={day}
              daySize={daySize}
              isOutsideDay={!day || day.month() !== month.month()}
              tabIndex={isVisible && isSameDay(day, focusedDate) ? 0 : -1}
              isFocused={isFocused}
              modifiers={modifiers}
              key={dayOfWeek}
              onDayMouseEnter={onDayMouseEnter}
              onDayMouseLeave={onDayMouseLeave}
              onDayClick={onDayClick}
              renderDay={renderDay}
              phrases={phrases}
            ></d-day>
          ))}
        </tr>
      ))}
    </tbody>
  </table>
</div>
