d-calendar {
  &[hidden] {
    display: none;
  }
  font-family: system-ui;
  > div {
    border: 1px solid #ccc;
    display: inline-block;
    padding-top: 58px;
    position: relative;
  }
  .d-calendar {
    border-collapse: collapse;
    display: table;
  }
  .d-calendar-row {
    display: table-row;
  }
  d-month {
    display: table-cell;
    border-right: 1px solid #ccc;
    &:last-child{
      border: 0
    }
  }
  .d-calendar-month {
    padding: 5px;
    margin: 5px;
    table {
      border-collapse: collapse;
      position: relative
    }
    caption {
      border-bottom: 1px solid #ddd;
      padding-bottom: 3px;
      margin-bottom: 9px;
      position: absolute;
      bottom: 100%;
      width: 100%;
      ul {
        color: #ddd;
        list-style: none;
        padding: 0;
        margin: 10px 0 5px;
        li {
          display: block;
          float: left;
          width: calc( 100% / 7 );
          text-align: center;
        }
      }
    }
  }
  .d-calendar-day {
    border: 1px solid #e4e4e4;
    padding: 0;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    button {
      font-size: 1em;
      border: 0;
      background: transparent;
      &[disabled]{
        color: #dedede;
      }
      &:not([disabled]):hover {
        background: #efefef;
      }
    }
  }
  .d-calender-navigation-next,
  .d-calender-navigation-previous {
    position: absolute;
    top: 8px;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 2px;
    &:hover{
      background: #dedede;
    }
  }
  .d-calender-navigation-previous {
    left: 8px;
  }
  .d-calender-navigation-next {
    right: 8px;
  }
}
