d-datepicker {
  position: relative;
  .hidden {
    display: none;
  }
  &[mode='static'] {
    display: block;
    .js-component {
      display: inline-block !important;
      position: relative;
      .arrow {
        display: none;
      }
      .d-calendar-popup{
        position: static;
      }
    }
  }
  .d-calendar-popup {
    margin-top: 2px;
    left: 0;
    border: 1px solid #ccc;
    position: absolute;
    background: white;
    overflow: hidden;
    box-sizing: content-box;
    * {
      box-sizing: border-box;
    }
  }
  .arrow {
    display: block;
    margin-left: 10px;
    position: relative;
    bottom: -2px;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    border-top: 0;
    &:before {
      content: '';
      display: block;
      top: 2px;
      left: -9px;
      z-index: 10;
      position: absolute;
      width: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid white;
      border-top: 0;
    }
  }
}
